
nav.strategies {
	display: flex;
	justify-content: center;
	margin-bottom: var(--p);
}

nav.strategies span {
	color: var(--c1-dark);
	font-weight: 600;
}

nav.strategies button {
	display: block;
	margin-left: var(--h);
	border: 0;
	padding: 0 var(--q);
	font-size: 1rem;
	background-color: var(--c1-light);
	cursor: pointer;
}

nav.strategies button.active, nav.strategies button:hover {
	text-decoration: underline;
}

nav.strategies button:focus {
	outline: none;
}